:root {
  --link-color: #08c !important;
  --text-color: rgb(8, 8, 8) !important;
  --bold-text: black !important;
}

body {
  line-height: 1.2;
  padding: 0;
  margin: 0;
  background: url("../../../public/images/images/sandpaper.jpg");
  font-family: "MomsTypewriterRegular", Courier, "Courier New", monospace;
}

#chapters {
  position: relative;
  display: inline-block;
}

.chuoni-header {
  margin-top: 0;
}

.main_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 0;
}

.nav_items {
  text-align: center;
  width: 42%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  .nav_item {
    padding: 0 3% 6px 3%;
    line-height: 20px;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    &:hover + .dropdown-items {
      display: block;
    }
    .nav_item_item {
      display: block;
      text-decoration: none;
      color: var(--link-color);
      &:hover {
        text-decoration: underline;
        color: rgb(71, 71, 255);
      }
    }
  }
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: left;
  background: url("../../../public/images/images/sandpaper.jpg");
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-right: 15px;
}

.dropdown-content a {
  color: var(--link-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  text-decoration: underline;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.next_bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.next_bg img {
  display: inline-block;
  width: 800px;
  height: 300px;
  margin-right: 2%;
  margin-left: 2%;
  padding: 0.3rem;
  border: 2px solid #fff;
}

.inline-img-text {
  position: absolute;
  margin-right: 14px;
  z-index: 1;
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 9%;
}

.site_info {
  font-weight: bolder;
  text-align: center;
  margin-top: 4%;
  padding-bottom: 1rem;
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.default_intro {
  margin: auto;
  text-align: center;
  font-size: large;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

hr {
  color: #ccc;
  background: #ccc;
  border-top-color: #ccc;
}

.chapter_list h2,
.alumni_list h2 {
  text-align: center;
}

.chapter_title,
.alumni_title {
  font-weight: lighter;
  color: var(--bold-text);
  text-align: left !important;
}

.chapter_items,
.alumni_items {
  color: var(--link-color);
}

.inner_chapter,
.inner_alumni {
  position: relative;
  display: block;
  left: 150px;
}

#footer {
  position: relative;
  margin-top: 20%;
  font-weight: lighter;
  text-align: center;
  font-weight: normal;
  font-size: 0.8em;
  color: #999;
  margin: 5.6em auto 2.85em 0;
  opacity: 0.7;
  display: block;
  text-align: center;
}

.footer_bottom ul {
  list-style-type: none;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  position: relative;
  left: 110px;
}

.footer_bottom ul li {
  padding: 3px 3%;
}

.footer_bottom ul li a {
  text-decoration: none;
  color: var(--link-color);
}

.footer_top p {
  text-align: center;
}

.illustration_ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.illustration_ img {
  width: 50%;
  height: auto;
  background-position: center;
  background-size: auto;
}

.categories_top {
  display: block;
  text-align: center;
}

.categories_top h3 {
  font-weight: bold;
}

.categories_list {
  display: block;
  text-align: center;
}

.categories_list h2 {
  font-size: 2.3rem;
  margin-bottom: 3.4%;
}

.categories_list h3 {
  font-weight: lighter;
  text-transform: uppercase;
}

.categories_list a {
  text-decoration: none;
  color: var(--link-color);
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.alumni_desc {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.participate_ h2 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: lighter;
}

.participate_ {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

#participate_submit {
  display: block;
  width: 100%;
}

label {
  color: #08c;
}

select {
  width: 100%;
  height: 30px;
}

.input_wrapp {
  width: 100%;
  margin-bottom: 1.1rem;
}

.input_item {
  width: 100%;
  height: 30px;
}

#advice-val {
  width: 100%;
}

.participate-btn {
  background-color: #08c;
  border: none;
  outline: none;
  padding: 5px 6px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.about_us {
  display: block;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

.contact_us {
  border: 1px solid #08c;
  padding: 0.5rem;
}

.family_ {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.family_ img {
  height: 500px;
  width: 800px;
}

.next_chapter {
  position: relative;
  float: right;
  font-size: 0.6rem;
  padding: 0.5rem;
  margin-top: -100px;
}

.prev_chapter {
  position: relative;
  float: left;
  font-size: 0.6rem;
  padding: 0.5rem;
  margin-top: -100px;
}

.next_chapter a {
  color: #08c;
  text-decoration: none;
  text-transform: lowercase;
  &:hover {
    text-decoration: underline;
  }
}

.prev_chapter a {
  color: #08c;
  text-decoration: none;
  text-transform: lowercase;
  &:hover {
    text-decoration: underline;
  }
}

.advice__ {
  margin-top: 11%;
  margin-bottom: 8%;
}

.advice_owner {
  color: #08c;
}

@media (max-width: 600px) {
  #footer {
    display: flex;
  }
  .footer_bottom ul {
    left: 55px;
  }

  .default_intro {
    margin-left: 3%;
    margin-right: 25%;
    font-size: small;
  }

  .site_info {
    margin-left: 0;
    margin-right: 15%;
    font-size: small;
  }
}
